<ng-container *ngIf="character; else loading">
  <ng-container *ngFor="let person of character">

    <!-- Details Start -->

    <div class="header-featured">
      <div class="title-character">
        <span>{{ person.name | split }}</span>
      </div>

      <div class="filter-featured">
        <div class="image-detail-featured" style="background-image: url('{{ person.thumbnail.path }}.{{ person.thumbnail.extension }}');"></div>
      </div>
    </div>

    <div class="container character-detail my-4">

        <div class="container-white sup">
          <div class="row">
            <div class="col-xl-8">
              <div class="image-detail" style="background-image: url('{{ person.thumbnail.path }}.{{ person.thumbnail.extension }}');"></div>
            </div>
            <div class="col-xl-4">
              <div class="title-detail">
                <h1>{{ person.name }}</h1>
              </div>
              <div class="description-character-detail">
                <ng-container *ngIf="person.description; else descriptionOff">
                  <p>{{ person.description }}</p>
                </ng-container>
                <ng-template #descriptionOff>
                  {{ person.name | split }} ainda não tem uma descrição.
                </ng-template>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-xl-4">
            <div class="character-series p-4">
              SÉRIES<br>
              <ng-container *ngFor="let item of person.series.items">
                {{ item.name }}<br>
              </ng-container>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="character-series p-4">
              EVENTOS<br>
              <ng-container *ngFor="let item of person.events.items">
                {{ item.name }}<br>
              </ng-container>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="character-series p-4">
              HISTÓRIAS EM QUADRINHOS<br>
              <ng-container *ngFor="let item of person.comics.items">
                {{ item.name }}<br>
              </ng-container>
            </div>
          </div>
        </div>

      </div>

    <!-- Details End-->

    </ng-container>
</ng-container>

<footer id="footer">
  <small class="mb-2 d-block">Data provided by Marvel. © 2021 MARVEL.</small>
</footer>

<ng-template #loading>
  <app-loader [fullLoader]="false"></app-loader>
</ng-template>
