<header>
  <!-- Header Start -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- Logo Objective -->
        <div class="col-xl-3">
          <div class="logo">
            <a href="/"><img src="assets/img/logo/logo-objective.svg" alt="Objective" /></a>
          </div>
        </div>
        <div class="col-xl-9">
          <div class="header-info-right">
            <span><strong>Fabricio Soares</strong></span>
            <span>Teste de Front-end</span>
            <span class="cb">CB</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
